<div class="row">
  <div class="col-lg-12 col-md-8">
      <div class="card card-user">
          <div class="image">
              <img src="<%=asset_path'fondoDolores.jpg'%>" alt="..."/>
          </div>
          <div class="content">
              <div class="author">
                <img class="avatar border-white" src="<%=asset_path'png/hotel-8.png'%>" alt="..."/>
                <h4 class="title">Hotel´s Page<br />
                   <a href="#"><small>contacto@hotelpage.com</small></a>
                </h4>
              </div>
              <p class="description text-center">
                  P&aacute;gina Oficial De Hoteles En Dolores Hidalgo.
                  <br><br>
                  P&aacute;gina dedicada a la muestra de los hoteles en la regi&oacute;n, ademas  de publicaciones  y datos exclusivos,<br> 
                  esta p&aacute;gina tambi&eacute;n provee informaci&oacute;n adicional, por ejemplo: Exposiciones, conferencias eventos entre otros.<br>
              <p class="text-center">Opciones que adquiere al ser usuario de la p&aacute;gina:</p>
                  <p class="text-info text-center">
                      -- Checa los precios de todos los hoteles y compara cual te conviene m&aacute;s.<br>
                      -- Ten una idea de como est&aacute; el hotel, gracias a nuestra amplia galer&iacute;a de los diferentes hoteles.<br>
                      -- Haz una pre-reservaci&oacute;n en tu hotel de preferencia.
                  </p>
                  <br><br>
                  <p class="text-center">Opciones que adquiere al ser socio de la p&aacute;gina:</p>
                  <p class="text-info text-center">
                      -- Se acreedor de un espacio en nuestra p&aacute;gina publicitaria.<br>
                    -- Has publicaciones personalizadas, ejemplo: Promociones, eventos, etc.<br>
                    -- Obt&eacute;n estad&iacute;sticas en tiempo real acerca de tu negocio (Hotel).
                  </p>
                  
                  
              </p>
          </div>
          <hr>
          <div class="text-center">
              <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                      <h5>6<br /><small>Hoteles Registrados</small></h5>
                  </div>
                  <div class="col-md-3">
                      <h5>Tel&eacute;fono<br /><small>4181242428</small></h5>
                  </div>
                  <div class="col-md-5">
                      <h5>Consultas<br /><small>consulta@hotelpage.com</small></h5>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
