<div class="card">
  <div class="header">
      <h4 class="title">Ubicaciones</h4>
      <p class="category">Ubicaciones de los Hoteles en Dolores Hidalgo.</a></p>

  </div>
  <div class="content">
    <div class="row">
        <iframe src="https://www.google.com/maps/d/embed?mid=1nqmrVnPdRW4QFUPBS5tQONAHOGc" width="1100" height="550"></iframe>
    </div>
  </div>
</div>
